<html>
	<head>
		<title>J.D Vivian</title>
		<link rel="icon" type="image/png" href = "../images/favicon.png">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/styles/style.css">
	</head>
	<body>
		<div class="header">
			<a href="https://jdvivian.co.uk">
			<img src="/images/jdvlogo.png" height=50px alt="jdvivian"> 
			</a>
		</div>
		<div class="BodyText bigText">
			400
		</div>
		<div class="BodyText SubText">
			whatever you told our server, it has no idea what it meant
		</div>
		<div class="footer">
			<p style="text-align: left; padding-left:15px">J.D Vivian
				<span style="float:right; padding-right:15px"><a href ="mailto:joel@jdvivian.co.uk" style="color:#A3343F"> joel@jdvivian.co.uk</a></span>
			</p>
		</div>
	</body>